*.json
*.csv
!thales/data/toy_datasets/*
.ipynb_checkpoints
/**.ipynb
/**.idea
**/__pycache__/**

thales/package_data/credentials/*
!thales/package_data/credentials/README.txt

thales/package_data/temp/*
!thales/package_data/temp/README.txt
